/*

Header

*/

* {
    box-sizing: border-box;
}

.header-wrapper {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 80px;
}

.logo-wrapper {
}

.dev-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dev-name {
    font: 3em sans-serif;
    margin-bottom: 0;
}

.job-title {
    font: 2em sans-serif;
    marker-top: 0;
}

/*

Main Content

*/

.main-wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-wrapper::before {
    width: 100%;
    content: "";
    border: 1px solid #7d97ad;
    margin-bottom: 30px;
    background: #7d97ad;
}

.main-image-wrapper {
    width: 100%;
}

.main-image {
    width: 100%;
}

.separator {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.caption {
    margin: 0;
    font: 2em sans-serif;
    text-decoration: none;
    color: #7d97ad;
}


.projects {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    width: 100%;
    align-items: center;

}

.project-image {
    width: 100%;
}

.project-link {
    font: 1.5em sans-serif;
    text-decoration: none;
    color: #2d3c49;
    text-transform: uppercase;
}
